<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="com.bridgelabz.test.LoginTest"/>
    </classes>
  </test>
  
   <test name="RegisterTest">
    <classes>
      <class name="com.bridgelabz.test.RegistrationTest"/>
    </classes>
  </test>
  
   <!-- Test -->
</suite> <!-- Suite -->
